
{% include "EN/_organisms/_admission.html" %}
<!------------- Container - start -------------->


    <!-- Navigation -->
    {% include "EN/_organisms/navigation.html" %}

    <!-- Searcher -->
    {% include "EN/_organisms/searcher.html" %}

    <!-- Header -->
    {% include "EN/_organisms/header.html" %}

    <!-- Content -->
    {% include "EN/_organisms/ground.html" %}

    <!-- Cart -->
    {% include "EN/_organisms/cart.html" %}

    <!-- Dialogue window -->
    {% include "EN/_organisms/dialog.html" %}


<!------------- Container - end -------------->
{% include "EN/_organisms/_ending.html" %}

