
{% include "_organisms/_admission.html" %}
<!------------- Container - start -------------->


    <!-- Navigation -->
    <!--{ include "_organisms/navigation.html" %}-->

    <!-- Searcher -->
    <!--{ include "_organisms/searcher.html" %}-->

    <!-- Header -->
    {% include "_organisms/header.html" %}

    <!-- Content -->
    {% include "_organisms/ground.html" %}

    <!-- Cart -->
    <!--{ include "_organisms/cart.html" %}-->

    <!-- Dialogue window -->
    <!--{ include "_organisms/dialog.html" %}-->


<!------------- Container - end -------------->
{% include "_organisms/_ending.html" %}

